.upline-head{
    display: flex;
}

.uh2{
    margin-left: 500px;
    color: rgba(0, 0, 0, 0.582);
    font-size: large;
}

.unoti{
    margin-right: 7px;
}

.uh1{
    text-align: center;
    margin-left: 600px;
    font-size: larger;
}

.uheading{
    margin-left: 20px;
    font-size: 30px;

}

.uplinecontent{
    background-color: white;
    margin: 20px;
    height: 100px;
}

.ucon{
    color: rgba(0, 0, 0, 0.534);
}